.main-container {
  background-color: $Very-Dark-Blue;
}

.todos {
  &_header,
  &_footer {
    --justify: space-between;
  }

  &_form {
    margin: 2rem 0 1rem;
    border-radius: $border-radius;

    input {
      width: 100%;
      border: none;

      color: inherit;
      background-color: inherit;
    }
  }

  &_form,
  &_todo-item {
    height: 60px;
    padding-inline: 25px;
    background-color: $Very-Dark-Desaturated-Blue;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &_todo-item {
    border-bottom: 1px solid $Very-Dark-Grayish-Blue-200;

    &:first-of-type {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }

  p:last-of-type {
    text-align: center;
  }
}

.btn {
  &-border-circle {
    width: 25px;
    height: 25px;

    border: 1px solid $Very-Dark-Grayish-Blue-200;
    border-radius: 50%;
  }
}
