body {
  background-color: $Very-Dark-Blue;
}

.main-container {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;

    background-image: url('../images/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    z-index: -1;
  }
}

.todos {
  &_header,
  &_footer {
    --justify: space-between;
  }

  &_header {
    padding-top: 4.5rem;
    color: $Very-Light-Gray;
  }

  &_form {
    margin: 2.5rem 0 1.5rem;
    border-radius: $border-radius;

    button {
      &:hover,
      &:focus-visible {
        @include active-circle-button;
      }
    }

    input {
      width: 100%;
      border: none;

      color: inherit;
      background-color: inherit;

      &:active,
      &:focus-visible {
        outline: none;
      }
    }
  }

  &_form input::placeholder,
  &_footer {
    color: $Very-Dark-Grayish-Blue-300;
  }

  &_form,
  &_todo-item,
  &_footer {
    height: 60px;
    padding-inline: 25px;
    background-color: $Very-Dark-Desaturated-Blue;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &_todo-item {
    --justify: space-between;
    border-bottom: 1px solid $Very-Dark-Grayish-Blue-200;

    > p {
      flex-basis: 100%;
    }

    &:first-of-type {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &.completed {
      > p {
        text-decoration: line-through;
        color: $Very-Dark-Grayish-Blue-300;
      }

      .btn-border-circle {
        @include active-circle-button;
      }
    }

    button:last-of-type {
      display: none;
    }

    &:hover {
      button:last-of-type {
        display: block;
      }
    }
  }

  &_footer {
    --gap: 0.75rem;
    height: 50px;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    font-size: var(--fs-200);
    color: $Very-Dark-Grayish-Blue-300;
  }

  &_help-text {
    margin-top: 2.5rem;
    font-size: var(--fs-200);
    text-align: center;
    color: $Very-Dark-Grayish-Blue-300;
  }
}

.btn {
  cursor: pointer;
  padding: 0;
  margin: 0;

  &-border-circle {
    flex-shrink: 0;
    position: relative;
    width: 25px;
    height: 25px;
    border: 1px solid $Very-Dark-Grayish-Blue-200;
    border-radius: 50%;

    background-color: inherit;

    &:hover,
    &:focus-visible {
      background: $active-gradient;

      &::after {
        content: '';
        position: absolute;
        inset: 1px;
        border-radius: inherit;

        background-color: $Very-Dark-Desaturated-Blue;
      }
    }
  }

  &-small {
    border: none;

    font-weight: 700;
    color: inherit;
    line-height: 1;

    background-color: transparent;

    &.active {
      color: $Bright-Blue;
    }

    &:hover,
    &:focus-visible {
      color: $Light-Grayish-Blue-900;

      // for delete todo button
      svg path {
        fill: $Bright-Blue;
      }
    }
  }
}
