.main-container {
  width: min(1440px, 100%);
  min-height: 100vh;
}

.container {
  width: min(550px, 95vw);
  margin-inline: auto;

  outline: 1px red solid;
}

.flex {
  display: flex;
  justify-content: var(--justify, start);
  align-items: var(--align, center);
  gap: var(gap, 1rem);
}
