@media (min-width: 568px) {
  // Typography
  :root {
    --fs-500: 0.8rem;
    --fs-400: 1rem;
    --fs-300: 0.85rem;
    --fs-200: 0.8rem;
  }

  h1 {
    font-size: 2.2rem;
    letter-spacing: 15px;
  }

  // Layout
  .todos {
    &_footer {
      display: flex;
      justify-content: space-between;

      > * {
        flex-basis: 100%;
      }
    }
  }

  // Components
  .main-container {
    &::after {
      height: 300px;

      background-image: url('../images/bg-desktop-dark.jpg');
    }
  }

  .todos {
    --gap: 1.5rem;

    &_header {
      padding-top: 4.5rem;

      img {
        transform: scale(100%);
      }
    }

    &_form {
      margin: 2.1rem 0 1.3rem;
    }

    &_form,
    &_todo-item {
      height: 65px;
    }

    &_form,
    &_todo-item,
    &_footer {
      padding-inline: 25px;
    }

    &_footer {
      background-color: var(--todo-background);

      > * {
        padding-inline: 0;
      }
    }

    &_todo-item {
      button:last-of-type {
        display: none;
        transform: scale(100%);
        height: 20px;
      }

      &:hover {
        button:last-of-type {
          display: block;
        }
      }
    }

    &_clear-completed {
      --fs-300: 0.85rem;
    }

    &_todo-left,
    &_clear-completed,
    &_ctrl-btn {
      padding-block: 15px;
    }
  }

  .btn {
    &-border-circle {
      width: 25px;
      height: 25px;
    }
  }
}
