@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --fs-500: 0.75rem;
  --fs-400: 0.7rem;
  --fs-300: 0.8rem;
  --fs-200: 0.65rem;
}

html {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

body {
  color: var(--clr-text-normal);
}

h1 {
  font-size: 1.4rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  line-height: 1;
}
