@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --fs-500: 1.05rem;
  --fs-400: 1rem;
  --fs-300: 0.9rem;
}

html {
  font-size: 18px;
  color: $Light-Grayish-Blue-800;
}
